# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
__pycache__/
venv/
# Node dependencies
node_modules/
yarn.lock

# Serverless directories
.serverless

# Config vscode
.vscode/

# Config PyCharm
.idea/

# misc
env.yml
.env

# Backup merge files
*.orig

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.noseids
nosetests.xml
coverage.xml
*.cover

package-lock.json

# Terraform
terraform.tfvars
*.terraform
variables.yml
